@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Francois+One');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Kanit', sans-serif;
	color: black;
}

.parallax {
	width: 100%;
	position: static;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header {
	height: 700px;
	background: url("https://images.unsplash.com/photo-1458571037713-913d8b481dc6?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=994&q=80&cs=tinysrgb") no-repeat center center fixed; /* this gave background image effect that I have*/ 
	background-size:   cover;                      
  	background-repeat: no-repeat;
  	background-position: center center; 
  	width: 100%;
  	color: white;
}

.title {
	margin: 0 auto;
	/*padding-left: 200px;*/
	text-align: center;
	padding-top: 225px;
	color: #fff;
	font-weight: bold;
}

.work-button {
	margin: 0 auto;
	width: 170px;	
	border: 2px solid gray;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	background: #F0F0F0;
	transition: all .30s;
}
a:focus, a:hover {
	color: black;
    text-decoration: none; 
}
a {
	text-decoration: none;
}
header a {
	text-decoration: none;
	color: #000000;

}
header a p {
	margin: 0 auto;
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}

.work-button:hover {
	color: white;
	background: rgba(10, 9, 9, 0.30);
	/*background-color: rgba(115, 159, 115, 0.7);*/
	
}

.work-button:hover a {
	text-decoration: none;
	color: white;
}

.social-media {
	width: 215px;
	margin: 0 auto;
	margin-top: 20px;
}

.social-media a {
	color: white;
}

.social-media li {
		display: inline;
		text-align: center;
		padding: 3px;
	}


.content {
	width: 100%;
	height: 300px;
	background-color: #F0F0F0;
	color: #6A787C;
}

.content-one h1 {
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}
.about {
	margin: 10 50px;
	text-align: center;
	font-size: 25px;
	vertical-align: center;
}



.parallax-two {
	background: url("../css/images/codebackground.jpg") no-repeat center center fixed;
	background-size:   cover;                      
  	background-repeat: no-repeat;
  	background-position: center center; 
  	width: 100%;
  	color: white;
}

/*.hobby-display {
	width: 100%;
	margin: 0;
}

.container {
	margin: 0;
	padding: 0;
}*/

/*.col-md-4 {
	margin: 0;
	padding: 0;
}*/
.project-display h1 {

	letter-spacing: 2px;
	color: white;
	font-family: 'Bungee Shade', cursive;
}

.about-one img {
	max-width: 100%;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-two img {
	max-width: 100%;
	margin: -1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-three img {
	max-width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.parallax-two h1 {
	margin: 0;
	padding: 20px;
	text-align: center;
}



.projects {
	height: 75px;
}

/*.parallax-two p {
	margin-top: 30px;
	color: white;
}*/


/*.projects {
	border: 1px solid black;
	display: inline-block;
	margin: 0 auto;
	padding: 20px;
	width: 33.1%;
}*/
@media (max-width: 716px) {
	.about {
	font-size: 18px;
	margin: 5px;

	}

	.content {
	width: 100%;
	height: 400px;
	background-color: #F0F0F0;
	color: #6A787C;
	}

	.content-one h1 {
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	}

	.parallax-two {
		height: 500px;
	}

	.images {
		max-width: 75px;
	}
}
